x-service-backend-common: &service-backend-common
  build:
    dockerfile: Dockerfile
    context: ./backend
  restart: always
  env_file:
    - .env
  volumes:
    - ./backend/app:/app/app
    - ./backend/tests:/app/tests
  command: | 
    sh -c "
    cd app && \
    alembic upgrade head && \
    uvicorn main:app --port=12321 --host=0.0.0.0 --reload
    "
  networks:
    - main_network

services:
  documentation:
    image: squidfunk/mkdocs-material:9
    container_name: mkdocs
    hostname: mkdocs
    command: serve --dev-addr 0.0.0.0:8000 --config-file /docs/mkdocs.yml --watch-theme
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ./docs:/docs:ro
    profiles:
      - docs

  backend1:
    <<: *service-backend-common
    container_name: backend1
    hostname: backend1
    ports:
      - "12345:12321"

  backend2:
    <<: *service-backend-common
    container_name: backend2
    hostname: backend2
    ports:
      - "12346:12321"

  nginx: 
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    networks:
      - main_network
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf

  db:
    image: postgres:16-alpine
    container_name: db
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-app}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - main_network

volumes:
  postgres_data:

networks:
  main_network:
    driver: bridge